
.content {
    min-height: calc(100vh - 64px - 70px);
}

nav {
    padding: 0 2rem;
}

.movies {
    margin: 0 10%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
}

.search {
    margin: 0 10%;
}

.searchButton {
    color: #fff;
    background: #897ae8;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    scale: 1.2;

}

.searchButton:hover {
    color: #000000;
    background: #6cf3ab;
}

.searchButton:focus {
    color: #fff;
    background: #897ae8;
}



.radioChooseTypeButton {
    margin: 0 10%;
}